
.header__logo-mobile {
  padding-left: 15px;
  @media screen and (min-width: 1400px) {
    display: none;
  }

}

.tap-menu {
  height: 77px;
  width: 100%;
  background-color: $main-color;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: none;
  @media screen and (max-width: 576px) {
    display: block;
    .container {
      height: 100%;
      padding: 0 15px;
    }
    .row {
      height: 100%;
    }
    &__block {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      position: relative;
      top: -7px;
    }
    &__button {
      color: white;
      text-align: center;
      font-size: 12px;
      cursor: pointer;

      &_logo {
        margin-bottom: 6px;

        img {
          vertical-align: bottom;
        }

        &_emergency {
          margin: 0 auto;
          max-width: 45px;
          padding: 8px;
          transform: skewX(-15deg) translateX(3px);
          border-radius: 2px;
          background-color: $accent-color;
          margin-bottom: 6px;

          img {
            transform: skewX(15deg);
          }
        }
      }
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  @media screen and (min-width: 1400px) {
    color: $main-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    background-color: white;

    &::before {
      display: block;
      width: 100%;
      height: 60px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: $main-color;
      z-index: -1;
      content: '';
    }
  }
  @media screen and (max-width: 576px) {
    background-color: $main-color;
    .row:nth-child(2) {
      display: none;
    }
    .container {
      padding: 0;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media screen and (min-width: 1400px) {
    }
    @media screen and (max-width: 576px) {
    }
  }

  &__logo {
    @media screen and (min-width: 1400px) {
      margin-right: 60px;
      padding: 5px 0;

      img {
        vertical-align: middle;
      }
    }
    @media screen and (max-width: 576px) {
      display: none;
    }
  }

  &__main-menu {
    @media screen and (min-width: 1400px) {
      display: flex;
      margin-right: 50px;
      font-size: 16px;
      font-weight: bold;

      ul {
        padding: 0;
        list-style-type: none;

        li {
          text-transform: uppercase;
          display: inline-block;
          margin-right: 40px;

          &:last-child {
            margin-right: 0;
          }

          a {
            text-decoration: none;
            color: $main-color;
          }
        }
      }
    }
    @media screen and (max-width: 576px) {
      display: none;
    }
  }

  &__contacts {
    @media screen and (min-width: 1400px) {
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: space-between;
    }
  }

  &__location {
    @media screen and (min-width: 1400px) {
      font-size: 16px;
      display: inline-block;
      font-weight: 400;
      margin: 0;
      margin-right: 20px;
    }
    @media screen and (max-width: 576px) {
      display: none;
    }
  }

  &__phone {
    @media screen and (min-width: 1400px) {
      position: relative;
      display: inline-block;
      float: right;

      a {
        font-weight: bold;
        font-size: 24px;
        text-decoration: none;
        color: $main-color;

      }

      small {
        position: absolute;
        right: 0;
        bottom: -20px;
        transform: translateY(-4px);
        font-size: 11px;
      }

      &_red {
        color: $accent-color;
      }
    }
    @media screen and (max-width: 576px) {
      a {
        font-weight: 400;
        font-size: 16px;
        color: white;
      }

      small {
        display: none;
      }
    }
  }

  &__primary-menu {
    @media screen and (min-width: 1400px) {
      align-self: stretch;
      display: flex;
      margin-right: 80px;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;

        li {
          margin-right: 30px;
          font-size: 16px;
          display: flex;
          align-items: center;
          height: 100%;
          cursor: pointer;

          &:hover {
            height: calc(100% - 2px);
            border-bottom: 2px solid white;

            a {
              transform: translateY(1px);
            }
          }

          &:last-child {
            margin-right: 0;
          }

          a {

            color: rgba(white, .8);
          }
        }
      }
    }
  }

  &__search-form {
    @media screen and (min-width: 1400px) {
      box-sizing: border-box;
      height: 40px;
      width: 310px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      color: rgba(255, 255, 255, 0.5);
      margin-right: 77px;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
      position: relative;
      z-index: 2;

      &_focus {
        background-color: white;

        .header__search-form-field {
          background-color: white;
          color: $main-color;
        }

        .header__search-form-button {
          filter: sepia(10) saturate(52.5) hue-rotate(179deg) saturate(76.5) contrast(64.5) grayscale(0.35) hue-rotate(335deg);
        }
      }

      &-button {
        position: absolute;
        top: 14px;
        left: 12px;
        width: 12px;
        height: 12px;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        z-index: 3;
      }

      &-field {
        outline: none;
        width: calc(310px - 50px);
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        position: absolute;
        top: 12px;
        left: 38px;
        background: none;
        padding: 0;
        border: none;
        z-index: 3;

        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
        }

      }
    }
  }

  &__emergency-call {
    @media screen and (min-width: 1400px) {
      height: 100%;
      background-color: $accent-color;
      transform: skewX(-15deg) translateX(-10px);
      transition: background-color .5s;
      flex-grow: 1;
      text-align: center;
      max-width: 210px;

      &:hover {
        background-color: #3F5A8A;;
      }

      a {
        display: block;
        height: 100%;
        color: white;
        transform: skewX(15deg);
        padding: 10px 15px;

        img {
          margin-right: 10px;
          vertical-align: middle;
        }
      }
    }
  }

  .row:last-child {
    @media screen and (min-width: 1400px) {
      background-color: $main-color;
    }
  }
}


.dropdown-menu__container {
  @media screen and (min-width: 1400px) {
    position: fixed;
    top: 129px;
    z-index: 99;
    background-color: rgba(black, .7);
    width: 100%;
    height: 100vh;
    display: none;
  }
  @media screen and (max-width: 576px) {
    display: none;
  }
}

.dropdown-menu {
  @media screen and (min-width: 1400px) {
    background-color: white;
    width: 100%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
    position: relative;
    display: flex;
  }

  &__tabs {
    @media screen and (min-width: 1400px) {
      flex-basis: calc(100% / 3);
      background: $bg-gray;
      margin-right: 20px;
      padding: 40px 0;

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        max-width: 350px;
        float: right;
      }

      &_item {
        padding: 11px;
        padding-right: 0;
        position: relative;
        cursor: pointer;

        &:hover {
          background-color: white;

          &::after {
            display: block;
            content: '';
            height: 18px;
            width: 10px;
            background: url("../img/dropdown-menu/arrow.png") center no-repeat;
            background-size: contain;
            position: absolute;
            right: 5px;
            top: 11px;
          }
        }

        &_active {
          background-color: white;

          &::after {
            display: block;
            content: '';
            height: 18px;
            width: 10px;
            background: url("../img/dropdown-menu/arrow.png") center no-repeat;
            background-size: contain;
            position: absolute;
            right: 5px;
            top: 11px;
          }
        }
      }

      &_link {
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        color: #1A305C;
        text-transform: uppercase;
      }
    }
  }

  &__content {
    @media screen and (min-width: 1400px) {
      flex-grow: 1;
      padding: 51px 0 40px 0;
    }
  }

  &__item {
    @media screen and (min-width: 1400px) {
      width: 100%;
      display: none;

      &_active {
        display: flex;
      }
    }
  }

  &__column {
    @media screen and (min-width: 1400px) {
      flex-basis: calc(100% / 3);
      max-width: 325px;
      margin-right: 20px;

      ul:last-child {
        li:last-child {
          margin-bottom: 0;
        }
      }

      ul {
        margin: 0;
        display: block;
        padding: 0;
        list-style: none;
      }
    }
  }


  &__list-item {
    @media screen and (min-width: 1400px) {
      display: flex;
      margin-bottom: 29px;
      padding-left: 30px;
      position: relative;

      .main-letter {
        position: absolute;
        left: 0;
        color: $accent-color;
        font-weight: bold;
      }
    }
  }

  &__item-link {
    @media screen and (min-width: 1400px) {
      color: $main-color;
      &:hover {
        color: $accent-color
      }
    }
  }
}

.about {
  background-color: $bg-gray;
  position: relative;
  @media screen and (min-width: 1400px) {
    margin-top: 130px;
    overflow: hidden;
    &::before {
      position: absolute;
      display: inline-block;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 300px;
      background-image: url("../img/about/about-bg.png");
      background-position: top left;
      background-repeat: no-repeat;
      z-index: 1;
    }
    .container {
      z-index: 2;
    }
  }
  @media screen and (max-width: 576px) {
    margin-top: 54.63px;
    margin-bottom: 30px;
  }


  &__slider {
    width: 100%;
    @media screen and (min-width: 1400px) {
      background: url("../img/about/bg-h-figure.svg") bottom right no-repeat;
      background-size: auto 100%;
    }
  }

  &__item {
    @media screen and (min-width: 1400px) {
      width: 100%;
      display: none;
      &_active {
        display: flex;
        animation-name: slideIn;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
      }

      &_deactivate {
        display: flex;
        animation-name: slideOut;
        animation-duration: 1000ms;
      }
    }
    @media screen and (max-width: 576px) {
      display: flex;
      flex-direction: column-reverse;
      max-width: 100vw;
      width: 100%;
    }
  }

  &__info {
    padding: 90px 0;
    position: relative;
    @media screen and (min-width: 1400px) {
      max-width: 666px;
      &::before {
        position: absolute;
        display: block;
        content: '';
        width: 176px;
        height: 92px;
        background-color: rgba($accent-color, .2);
        top: 245px;
        left: -310px;
        transform: skewX(-20deg);
      }
    }
    @media screen and (max-width: 576px) {
      padding: 18px 15px;
      background: white;
    }

    button {
      padding: 15px 0;
      width: 100%;
      max-width: 325px;
      @media screen and (min-width: 1400px) {
        margin-bottom: 55px;
      }

      @media screen and (max-width: 576px) {
        max-width: none;
      }
    }

  }

  &__doctor-name {
    font-weight: bold;
    color: $main-color-dark;
    @media screen and (min-width: 1400px) {
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 35px;
    }
    @media screen and (max-width: 576px) {
      margin: 0;
      margin-bottom: 18px;
      font-size: 20px;
    }
  }

  &__title {
    color: $main-color-dark;
    @media screen and (min-width: 1400px) {
      font-size: 18px;
      margin-bottom: 12px;
    }
    @media screen and (max-width: 576px) {
      margin: 0;
      margin-bottom: 6px;
      font-size: 16px;
    }
  }

  &__desc {
    color: $main-color-dark;
    font-weight: 500;
    font-style: normal;
    @media screen and (min-width: 1400px) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    @media screen and (max-width: 576px) {
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 18px;
    }
  }

  .select-buttons {
    @media screen and (min-width: 1400px) {
      display: inline-block;
      position: absolute;
      bottom: 88px;
    }
    @media screen and (max-width: 576px) {
      display: none;
    }

    &__button {
      @media screen and (min-width: 1400px) {
        display: inline-block;
        height: 18px;
        width: 18px;
        margin-right: 20px;
        background-color: rgba($main-color, .4);
        transition: background-color .5s;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        cursor: pointer;

        &:hover {
          background-color: $main-color
        }
      }
    }
  }

  &__doctor {
    flex-grow: 1;
    position: relative;
    min-height: 100%;
    @media screen and (max-width: 576px) {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 231px;
      background: url("../img/about/bg-h-figure.svg") bottom no-repeat;
      background-size: auto 100%;
      padding-top: 20px;
      background-clip: border-box;
    }

    img {
      @media screen and (min-width: 1400px) {
        position: absolute;
        bottom: 0;
        right: 0;
      }
      @media screen and (max-width: 576px) {
        height: 100%;
        width: auto !important;
      }
    }
  }
}


.features {
  background: white;
  @media screen and (min-width: 1400px) {
    padding-top: 60px;
    padding-bottom: 90px;
  }
  @media screen and (max-width: 576px) {
    padding: 18px 0 18px 15px;
    margin-bottom: 30px;
  }

  &__title {
    @media screen and (min-width: 1400px) {
      margin-bottom: 60px;
    }
    @media screen and (max-width: 576px) {
      font-size: 20px;
      line-height: 120%;
      margin-bottom: 18px;
    }
  }

  &__slider {
    width: 100%;
    @media screen and (min-width: 1400px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__block {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: $bg-gray;
    color: $main-color;
    text-align: center;
    position: relative;
    @media screen and (min-width: 1400px) {
      flex-basis: calc(100% / 4 - 20px);
      padding: 0 50px;
      height: 167px;
    }
    @media screen and (max-width: 576px) {
      margin-top: 17px;
      max-width: 286px;
      padding: 0 15px;
      margin-right: 10px;
      height: 137px;
    }
  }

  &__icon {
    //@media screen and (min-width: 1400px) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) skewX(-15deg);
    top: -10%;
    width: 65px;
    height: 50px;
    background-color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      transform: skewX(15deg);
    }

    //}
  }

  &__desc {
    @media screen and (min-width: 1400px) {
      font-size: 18px;
      line-height: 120%;
      width: 100%;
    }
    @media screen and (min-width: 576px) {
      font-size: 16px;
      line-height: 140%;
      width: 100%;
    }
  }
}

.units {
  @media screen and (min-width: 1400px) {
    background-color: $bg-gray;
    position: relative;
  }
  @media screen and (max-width: 576px) {
    .row {
      margin-bottom: 30px;
    }
  }

  &__block {
    width: 100%;
    position: relative;
    @media screen and (min-width: 1400px) {
      top: -30px;
      box-shadow: 0 10px 30px rgba(12, 28, 56, 0.08);
      margin-bottom: 30px;
      z-index: 10;
    }
  }

  &__head {
    @media screen and (min-width: 1400px) {
      padding-top: 40px;
      background: $bg-gray;
    }
    @media screen and (max-width: 576px) {
      background: #F6F7F8;
      padding: 18px 0 0 15px;
    }

    .title {
      @media screen and (min-width: 1400px) {
        margin-bottom: 35px;
      }
      @media screen and (max-width: 576px) {
        font-size: 20px;
        margin-bottom: 18px;
      }
    }
  }

  &__menu {
    //@media screen and (min-width: 1400px) {
    ul {
      padding: 0;
      list-style: none;
      margin: 0;
    }

    &-item {
      margin-right: 55px;
      display: inline-block;
      padding-bottom: 22px;
      @media screen and (max-width: 576px) {
        padding-bottom: 0;
      }
    }

    &-link {
      font-weight: 600;
      font-size: 18px;
      color: $main-color;
      transition: color .5s;
      padding-bottom: 20px;
      @media screen and (min-width: 1400px){
        &:hover {
          color: $accent-color;
          border-bottom: 2px solid $accent-color;
          height: calc(100% - 2px);
        }
      }

      &::after {
        transition: all .5s;
      }

      &_active {
        color: $accent-color;
        position: relative;
        @media screen and (min-width: 1400px) {
          border-bottom: 2px solid $accent-color;
          height: calc(100% - 2px);
        }
        @media screen and (max-width: 576px) {
          transition: background-color .5s;
          &::after {
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background-color: $accent-color;
            left: 0;
            bottom: 0;
            position: absolute;
            transition: background-color .5s;

          }
        }
      }

      &:focus {
        outline: none;
      }

      @media screen and (max-width: 576px) {
        font-size: 16px;
        padding-bottom: 16px;
      }
    }

    //}
  }

  &__content {
    background-color: white;
    @media screen and (min-width: 1400px) {
      padding: 40px 0;
    }
    @media screen and (max-width: 576px) {
      padding: 15px;
    }

    &-image {
      @media screen and (min-width: 1400px) {
        min-width: 325px;
        height: 330px;
        background: url("../img/units/content-image.png") center no-repeat;
        background-size: cover;
        position: relative;
        display: inline-block;
        margin-right: 20px;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background: linear-gradient(179.96deg, rgba(42, 68, 114, 0) 18.76%, rgba(42, 68, 114, 0.55) 49.37%);
        }

        p {
          position: absolute;
          left: 0;
          bottom: 0;
          color: white;
          padding: 40px 25px;
          font-size: 18px;
          margin: 0;
        }
      }
      @media screen and (max-width: 576px) {
        display: none;
      }
    }

    &-services {
      display: none;

      &_active {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 330px;
        @media screen and (max-width: 576px) {
          height: auto;
          display: block;
        }
      }
    }
  }

  &__column {
    @media screen and (min-width: 1400px) {
      flex-basis: calc(100% / 4);
      max-width: 325px;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 18px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    ul:last-child {
      li:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      margin: 0;
      display: block;
      padding: 0;
      list-style: none;

      margin-bottom: 18px;

      &:last-child {
        margin-bottom: 0;
      }

    }
  }


  &__list-item {
    display: flex;
    margin-bottom: 29px;
    padding-left: 30px;
    position: relative;
    @media screen and (max-width: 576px) {
      margin-bottom: 18px;
    }

    .main-letter {
      position: absolute;
      left: 0;
      color: $accent-color;
      font-weight: bold;
    }
  }

  &__item-link {
    color: $main-color;

    &:hover {
      color: $accent-color
    }
  }


  &__emergency-room {
    flex-grow: 1;
    background-color: white;
    position: relative;
    z-index: 10;
    max-width: 100vw;
    @media screen and (min-width: 1400px) {
      box-shadow: 0 10px 30px rgba(12, 28, 56, 0.08);
      padding: 40px 0 45px 0;
      margin-bottom: 60px;
    }
    @media screen and (max-width: 576px) {
      padding: 18px 15px;
      box-sizing: border-box;
      box-shadow: 0px 10px 30px rgba(12, 28, 56, 0.08);
    }

    .title {
      @media screen and (min-width: 1400px) {
        margin-bottom: 35px;
      }
      @media screen and (max-width: 576px) {
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 18px;
      }
    }
  }

  &__features {
    display: flex;
    @media screen and (min-width: 1400px) {
      justify-content: space-between;
    }
    @media screen and (max-width: 576px) {
      flex-wrap: wrap;
    }

    ul {
      padding: 0;
      display: block;
      list-style: none;
      margin: 0;
      width: 100%;
      max-width: 641px;

      li {
        margin-bottom: 20px;

        &:last-child {
          margin: 0;
        }
      }

      &:nth-child(1) {
        @media screen and (min-width: 1400px) {
          margin-right: 30px;
        }
        @media screen and (max-width: 576px) {
          margin-right: 0;
          padding-bottom: 18px;
          border-bottom: 1px solid rgba(10, 24, 49, 0.07);
          margin-bottom: 18px;
        }


        li {
          color: rgba(#0A1831, .8);

          &:before {
            display: inline-block;
            content: '';
            width: 14px;
            height: 6px;
            margin-right: 10px;
            background-color: $accent-color;
            transform: translateY(-50%) skewX(-15deg);
            @media screen and (max-width: 576px) {
              font-size: 16px;
            }
          }

          span {
            color: $accent-color;
            font-weight: bold;
          }
        }
      }
    }


    &_hurt-list {
      @media screen and (min-width: 1400px) {
        max-width: 326px !important;
      }
      @media screen and (max-width: 576px) {
        margin-bottom: 18px !important;
      }
    }

    &_hurt-item {
      color: $main-color;
      text-decoration: underline;
      font-weight: bold;
    }

    &_hurt-link {
      color: $main-color;


    }

    &-image {
      width: 325px;
      height: 190px;
      background: url("../img/units/features-image.png") center no-repeat;
      position: relative;


      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(179.98deg, rgba(42, 68, 114, 0) 18.76%, rgba(42, 68, 114, 0.55) 49.37%);;
      }

      @media screen and (max-width: 576px) {
        display: none;
      }

      p {
        position: absolute;
        padding: 15px 70px 15px 15px;
        font-size: 16px;
        line-height: 140%;
        bottom: 0;
        color: white;
      }
    }
  }

  &__countries {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    @media screen and (min-width: 1400px) {
      margin-bottom: 60px;
    }
    @media screen and (max-width: 576px) {
      padding: 0 15px;
      box-sizing: border-box;
    }
  }

  &__country {
    display: block;
    background-color: white;
    color: $main-color;
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    text-align: center;

    @media screen and (min-width: 1400px) {
      flex-basis: calc(100% / 4 - 20px);
      padding: 27px 0;
      font-size: 20px;
    }
    @media screen and (max-width: 576px) {
      flex-basis: calc(100% / 2 - 9px);
      padding: 15px 0;
      margin-bottom: 18px;
      &:nth-child(3){
        margin: 0;
      }
      &:last-child{
        margin: 0;
      }
    }

    &:hover {
      background-color: $bg-gray;

      &::before {
        display: block;
        content: '';
        width: 100%;
        height: 4px;
        background-color: white;
        position: absolute;
        left: 0;
        bottom: 0;
      }

      .units__country-image {
        margin-top: -4px;
      }
    }

    &-image {
      width: 54px;
      height: 36px;
      margin: 0 auto 15px auto;

      img {
        height: 100%;
      }
    }
  }
}

.appointment {
  background-color: white;

  &__block {
    flex-basis: 100%;
    position: relative;
    z-index: 10;
    background-color: white;
    @media screen and (min-width: 1400px) {
      padding: 55px 0;
      box-shadow: 0 10px 30px rgba(12, 28, 56, 0.08);
      margin-top: 60px;
      margin-bottom: 90px;
      background: url("../img/appointment/appointment-block-bg.svg") center no-repeat;
      background-size: contain;

      &::before {
        display: block;
        content: '';
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        background: url("../img/appointment/bg-figure-gray.svg") top left no-repeat;
        background-size: contain;
      }

      &::after {
        display: block;
        content: '';
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        background: url("../img/appointment/bg-figure-red.svg") bottom right no-repeat;
        background-size: contain;
      }
    }
    @media screen and (max-width: 576px) {
      box-sizing: border-box;
      padding: 18px;
    }

    .content {
      position: relative;
      z-index: 10;
    }
  }

  &__title {
    @media screen and (min-width: 1400px) {
      flex-grow: 1;
    }
    @media screen and (max-width: 576px) {
      display: flex;
      margin-bottom: 18px;
    }

    .title {
      @media screen and (min-width: 1400px) {
        margin-top: -5px;
        margin-bottom: 12px;
        font-size: 24px;
      }
      @media screen and (max-width: 576px) {
        font-size: 16px;
        flex-basis: 50%;
      }
    }

    a {
      color: $accent-color;
      @media screen and (max-width: 576px) {
        font-size: 16px;
        display: block;
        flex-basis: 50%;
        text-align: right;
      }
    }
  }


  &__form {
    //@media screen and (min-width: 1400px) {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    position: relative;
    flex-grow: 3;
    @media screen and (max-width: 576px) {
      flex-wrap: wrap;
      justify-content: stretch;
    }
    @media screen and (min-width: 1400px) {
      padding-left: 20px;
    }

    .appointment__input-wrapper {
      position: relative;
      @media screen and (min-width: 1400px) {
        flex-basis: calc(100% / 3 - 20px);
      }
      @media screen and (max-width: 576px) {
        flex-basis: 100%;
        margin-bottom: 12px;
      }

      label {
        position: absolute;
        top: 45%;
        left: 18px;
        transform: translateY(-50%);
        pointer-events: none;
        transition: all .3s;
        color: $main-color
      }

      input {
        width: 100%;

        &:focus {
          outline: none;
        }

        &:focus ~ label {
          top: 20%;
          font-size: 10px;
        }

        &:valid ~ label {
          top: 20%;
          font-size: 10px;
          color: $main-color;
        }
      }
    }

    input, button {
      box-sizing: border-box;
      height: 50px;
      padding: 0 18px;
      font-size: 16px;
      background: #FFFFFF;
      border: 1px solid rgba(42, 68, 114, 0.2);
      border-radius: 1px;
      color: $main-color;

    }

    button {
      border: 1px solid $main-color;
      @media screen and (min-width: 1400px) {
        flex-basis: calc(100% / 3 - 20px);
      }

      &:hover {
        img {
          filter: grayscale(1) invert(1) brightness(1.5);
        }
      }

      img {
        vertical-align: middle;
        margin-left: 10px;
        filter: none;
      }
    }

    label[for="confident"] {

      @media screen and (min-width: 1400px) {
        position: absolute;
        bottom: -22px;
      }
      @media screen and (max-width: 576px) {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
      }

      small {
        font-size: 12px;
        color: $main-color;
      }

      #confident {
        margin: 0;
        height: 16px;
        width: 16px;
        vertical-align: middle;
        margin-right: 8px;
        background: white;
        border: 1px solid $main-color;
        outline: none;
        appearance: none;
        padding: 0;

        &:checked {
          background-color: $main-color;

          &::before {
            display: block;
            content: '';
            width: 98%;
            height: 98%;
            background-image: url("../img/appointment/checkmark.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            filter: grayscale(1) contrast(50);
          }
        }
      }
    }

    //}
  }
}

.specialists {
  @media screen and (min-width: 1400px) {
    background-color: $bg-gray;
    position: relative;
  }
  @media screen and (max-width: 576px) {
    margin-bottom: 30px;
  }

  &__block {
    width: 100%;
    position: relative;
    z-index: 2;
    @media screen and (min-width: 1400px) {
      box-shadow: 0 10px 30px rgba(12, 28, 56, 0.08);
      left: 0;
      top: -30px;
    }
  }

  &__head {
    width: 100%;
    @media screen and (min-width: 1400px) {
      background-color: $bg-gray;
      padding: 40px 0;
    }
    @media screen and (max-width: 576px) {
      background: white;
      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          font-size: 20px;
          padding-left: 18px;
        }
      }
      .mobile {
        display: block;
        padding-left: 26px;
        padding-right: 26px;
        box-sizing: border-box;
      }
    }
  }

  &__content {
    background-color: white;
    @media screen and (min-width: 1400px) {
      padding: 40px 0;
      padding-top: 20px;
    }
    @media screen and (max-width: 576px) {
      padding: 0 15px;
      .specialists__control-panel {
        padding-top: 0;
        background: white;

        .arrows {
          display: none;
        }
      }
    }
  }

  &__doctor {
    background-color: #fcfcfc;
    padding: 12px;
    width: 325px;
    max-width: 325px;
    margin-right: 20px;
    position: relative;
    height: 100%;
    box-sizing: border-box;

    &:last-child {
      margin-right: 0;
    }

    .doctor {
      &__image {
        width: 300px;
        max-height: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 22px;
        @media screen and (max-width: 576px) {
          width: auto;
        }

        img {
          max-width: 100%;
        }
      }

      &__info {
        display: block;
        color: $main-color;
        position: relative;
        font-size: 14px;
        height: 100%;

        .doctor__name {
          font-size: 18px;
          color: $main-color-dark;
          margin-bottom: 22px;
          margin-top: 0;

          span {
            font-weight: normal;
          }
        }

        .doctor__work {
          margin: 0;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 17px;
        }

        .doctor__features {
          margin: 0;
          padding: 0;
          list-style: none;

          li::before {
            content: "-";
            margin-right: 5px;
          }
        }
      }

      &__info:hover {
        .doctor__full-info {
          opacity: 1;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          @media screen and (max-width: 576px) {
            box-shadow: none;
          }
        }
      }

      &__full-info {
        opacity: 0;

        height: 100%;
        width: 100%;
        background-color: rgba(white, .95);
        position: absolute;
        left: -12px;
        top: -12px;
        padding: 12px;
        transition: opacity .5s;
        font-size: 14px;

        .doctor__features {
          margin-bottom: 20px;
        }

        a {
          display: block;
          width: calc(100% - 40px);
          text-align: center;
          color: $main-color;
          border: 1px solid $main-color;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 12px;
          transition: background-color .5s, color .5s;
          padding: 15px 0;

          &:hover {
            color: white;
            background-color: $main-color;
          }
        }
      }

      &__exp {
        color: $main-color-dark;
        margin: 0;
        margin-bottom: 26px;

      }

      &__desc {
        line-height: 120%;

      }
    }
  }

  &__slider {
    @media screen and (min-width: 1400px) {
      margin-bottom: 15px;
      width: calc(100% + 30px);
      transform: translateX(-30px);
      .slick-list {
        display: flex;
        padding: 0 20px;

        .slick-track {
          display: flex;
          padding: 20px 0;
        }
      }
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 18px;
      .slick-list {
        display: flex;

        .slick-track {
          display: flex;
        }
      }
    }
  }

  &__control-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @media screen and (max-width: 576px) {
      padding: 18px 0;
      background-color: #F6F7F8;
    }

    button {
      width: 443px;
    }
  }
}

.care {
  @media screen and (min-width: 1400px) {
    background-color: $bg-gray;
    background-image: url("../img/care/bg-figure-white.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
    padding-top: 145px;
    padding-bottom: 60px;
    margin-top: -86px;
    position: relative;
    z-index: 1;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: url("../img/care/bg-figure-red.svg") top left no-repeat;
    }
  }
  @media screen and (max-width: 576px) {
    margin-bottom: 30px;
  }

  &__block {
    display: flex;
    @media screen and (max-width: 576px) {
      background: white;
      flex-wrap: wrap;
      padding: 18px 15px;
    }
  }

  &__content {
    flex-basis: 100%;
    @media screen and (min-width: 1400px) {
      flex-basis: 50%;
      padding-right: 50px;
    }


    .title {
      margin-bottom: 35px;
      @media screen and (max-width: 576px) {
        font-size: 20px;
        margin-bottom: 18px;
      }
    }


    p {
      color: rgba(#0a1831, .7);
      font-size: 16px;
      line-height: 22.4px;
      margin-bottom: 35px;
      @media screen and (max-width: 576px) {
        margin-bottom: 18px;
      }
    }

    a {
      display: block;
      box-sizing: border-box;
      background-color: transparent;
      width: 100%;
      margin-bottom: 30px;
      @media screen and (min-width: 1400px) {
        width: 325px;
      }
      @media screen and (max-width: 576px) {
        font-size: 14px;
        padding: 15px 0;
      }
    }
  }

  &__video {
    flex-basis: 50%;
    @media screen and (max-width: 576px) {
      flex-basis: 100%;
    }

    &-block {
      width: 100%;
      max-width: 634px;
      height: 324px;
      background: url("../img/care/video.png") no-repeat center;
      background-size: contain;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      @media screen and (max-width: 576px) {
        height: 176px;
      }
    }
  }
}

.feedback {
  background: white;
  @media screen and (min-width: 1400px) {
    position: relative;
    background-image: url("../img/feedback/bg-figure-gray.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px 0;

    .quote {
      box-sizing: border-box;
      position: absolute;
      width: 135px;
      height: 72px;
      padding: 15px;
      top: -30px;
      left: 5%;
      z-index: 10;
      background: rgba(#0A1831, .1);
      transform: skewX(-15deg);

      &::before {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background: url("../img/feedback/quote.svg") center no-repeat;
        transform: skewX(15deg);
      }
    }
  }
  @media screen and (max-width: 576px) {
    padding: 18px 16px 30px 16px;
    margin-bottom: 30px;
  }

  &__head {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    margin-bottom: 45px;
    @media screen and (max-width: 576px) {
      margin-bottom: 18px;
      .title {
        font-size: 20px;
        margin-right: 15px;
      }
    }
  }

  &__position{
    flex-grow: 1;
    font-size: 14px;
    color: #2A4472;
    &_current{
      font-size: 20px;
      font-weight: bold;
    }
    @media screen and (min-width: 1400px){
      display: none;
    }
  }

  &__control-panel {
    display: flex;
    align-items: center;

    a {
      font-size: 16px;
      color: $main-color;
    }

    .arrows {
      @media screen and (min-width: 1400px) {
        position: static;
        margin-left: 50px;
      }
      @media screen and (max-width: 576px) {
        display: none;
      }
    }
  }

  &__slider {
    width: 100%;
    @media screen and (min-width: 1400px) {
      width: calc(100% + 20px);
    }
  }

  &__item.slick-slide {
    @media screen and (max-width: 576px) {
      display: block;
    }
  }

  &__item {
    background-color: #F6F7F8;
    padding: 20px 37px;
    margin-right: 20px;
    max-width: 670px;
    @media screen and (max-width: 576px) {
      padding: 12px;
      margin-right: 0;
    }

    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      @media screen and (max-width: 576px) {
        flex-wrap: wrap;
        margin-bottom: 12px;
      }

      &-user {
        position: relative;
        @media screen and (max-width: 576px) {
          padding-top: 13px;
        }

        &-image {
          display: inline-block;
          margin-right: 18px;
        }

        &-info {
          display: inline-block;

          p, small {
            margin: 0;
          }
        }

        &-image {
          max-width: 24px;
        }

        &-username {
          font-size: 16px;
          @media screen and (max-width: 576px) {
            font-size: 14px;
          }
        }

        &-date {
          font-size: 12px;
          color: rgba(black, .5);
          @media screen and (max-width: 576px) {
            font-size: 14px;
          }
        }
      }

      &-portal {
        display: flex;
        @media screen and (max-width: 576px) {
          order: -1;
          flex-basis: 100%;
          padding-bottom: 5px;
          border-bottom: 1px solid rgba(42, 68, 114, 0.2);
        }

        &-text {
          margin: 0;
          margin-right: 10px;
          @media screen and (max-width: 576px) {
            font-size: 14px;
            margin-top: 2px;
          }
        }

        &-image {
          img {
            transform: translateY(-2px);
          }
        }
      }
    }

    &-content {
      position: relative;
      width: 100%;
      max-height: 90px;
      line-height: 120%;
      overflow: hidden;
      color: rgba(black, .7);
      margin-bottom: 12px;
      cursor: pointer;
      transition: all .5s;
      outline: none;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        content: '';
        background: linear-gradient(0deg, #F6F7F8, transparent);
        z-index: 10;
        width: 100%;
        height: 100%;

      }

      &_unhide {
        outline: none;
        overflow: visible;
        max-height: none;

        &::before {
          display: none;
        }
      }

      &-text {
        margin: 0;
      }
    }

    &-about {
      padding-top: 12px;
      border-top: 1px solid rgba($main-color, .2);
      color: rgba(black, .7);

      &-doctor {
        margin-top: 0;
        margin-bottom: 5px;
        @media screen and (max-width: 576px) {
          font-size: 14px;
        }
      }

      &-ordinary {
        margin: 0;
        @media screen and (max-width: 576px) {
          font-size: 14px;
        }
      }
    }
  }
}

.footer {
  background-color: white;
  @media screen and (min-width: 1400px){
    background: $main-color;
    color: rgba(white, .8);
    padding-top: 30px;
  }

  &_desktop {
    display: none;
    @media screen and (min-width: 1400px){
      display: block;
    }
  }

  &__license {
    margin-right: 150px;

    &-image {
      margin-bottom: 25px;

      img {
        height: 100%;
      }
    }

    &-text {
      p {
        margin: 0;
        a{
          color: rgba(255, 255, 255, 0.8);
          text-decoration: underline;
        }
      }

      &-copy {
        margin-bottom: 20px;
      }
    }
  }

  &__menu {
    display: flex;
    flex-basis: 100%;
    max-width: 670px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: block;
      flex-grow: 1;
    }

    &-item {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-link {
      color: rgba(white, .8);
      text-decoration: none;
    }
  }

  &__contacts {
    justify-self: flex-end;

    p {
      margin: 0;
      margin-bottom: 20px;
    }
  }

  &__phone {
    font-size: 24px;
    color: white;
    font-weight: bold;
    display: block;
    margin-bottom: 35px;
  }

  &__icons {
    display: flex;

    &-item {
      display: block;
      margin-right: 22px;
    }
  }

  .bottom {
    padding: 15px 0;
    text-align: center;
    @media screen and (min-width: 1400px) {
      margin-top: 45px;
      background-color: #3b5482;
    }
    @media screen and (max-width: 576px){
      color: #B0B0B0;
      padding: 15px;
      margin-bottom: 77px;
    }

    .row {
      p {
        margin: 0;
        flex-basis: 100%;
      }

      &:nth-child(1) {
        p {
          text-transform: uppercase;
          @media screen and (min-width: 1400px){
            font-size: 18px;
            margin-bottom: 8px;
          }
          @media screen and (max-width: 576px){
            font-size: 14px;
            margin-bottom: 23px;
          }
        }
      }

      &:nth-child(2) {
        p {
          font-size: 14px;
        }
      }
    }
  }
}
