@media screen and (max-width: 576px) {
  .header {
    .row:nth-child(2) {
      display: none;
    }
    background-color: $main-color;
  }
  .tap-menu{
    display: block;
    height: 77px;
    width: 100%;
    background-color: $main-color;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .layer1 {
    display: none;
  }

  .layer2 {
    display: none;
  }

  .layer3 {
    display: none;
  }

  .layer4 {
    display: none;
  }
}
