@import url('https://fonts.googleapis.com/css?family=Exo:400,700&display=swap');

$main-color: #2A4472;
$accent-color: #E84E2C;
$main-color-dark: #0A1831;
$bg-gray: #F1F1F1;

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Exo', sans-serif;
}

a {
  text-decoration: none;
}

//Для телефонов

.container {
  min-width: 1360px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
  box-sizing: border-box;

  &_size_1667 {
    max-width: 1667px !important;
  }
}

.row {
  display: flex;

  &_between {
    justify-content: space-between;
  }

  &_center {
    align-items: center;
  }
}

.title {
  margin: 0;
  font-size: 30px;
  color: $main-color-dark;
}

.content {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;

  &_flex {
    display: flex;
    flex-wrap: nowrap;
  }

  &_between {
    justify-content: space-between;
  }
}

.column {
  max-width: 290px;
  width: 100%;
}

.btn-white{
  border: 1px solid $main-color;
  background-color: white;
  color: $main-color;
  padding: 20px 0;
  &:hover{
    background-color: $main-color;
    color: white;
  }
}

.arrow{
  width: 60px;
  height: 16px;
  position: relative;
  &::before{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../img/specialists/arrow.svg") center no-repeat;
    background-size: contain;
  }
}

// Экстрабольшие девайсы (большие десктопы, >= 1200px)
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1360px
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    color: $main-color;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    width: 100%;
    background-color: white;

    &::before {
      display: block;
      width: calc(100vw - 18px);
      height: 60px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: $main-color;
      z-index: -1;
      content: '';
    }

    &__top {
      width: 100%;
      display: flex;
      align-items: center;
    }

    &__logo {
      margin-right: 60px;
      padding: 5px 0;

      img {
        vertical-align: middle;
      }
    }

    &__main-menu {
      display: flex;
      margin-right: 50px;
      font-size: 16px;
      font-weight: bold;

      ul {
        padding: 0;
        list-style-type: none;

        li {
          text-transform: uppercase;
          display: inline-block;
          margin-right: 40px;

          &:last-child {
            margin-right: 0;
          }

          a {
            text-decoration: none;
            color: $main-color;
          }
        }
      }
    }

    &__contacts {
      display: flex;
      align-items: center;

      p {
        font-size: 16px;
        display: inline-block;
        font-weight: 400;
        margin: 0;
        margin-right: 20px;
      }
    }

    &__phone {
      position: relative;
      display: inline-block;
      float: right;

      a {
        font-weight: bold;
        font-size: 24px;
        text-decoration: none;
        color: $main-color;

      }

      small {
        position: absolute;
        right: 0;
        bottom: -20px;
        transform: translateY(-4px);
        font-size: 11px;
      }

      &_red {
        color: $accent-color;
      }
    }

    &__primary-menu {
      ul {
        list-style: none;
        padding: 0;

        li {
          margin-right: 30px;
          display: inline-block;
          font-size: 16px;

          a {
            color: rgba(white, .8);
          }
        }
      }
    }

    &__search-form {
      box-sizing: border-box;
      height: 40px;
      width: 310px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      color: rgba(255, 255, 255, 0.5);
      margin-right: 35px;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
      position: relative;
      z-index: 2;

      &:focus {
        border: 2px solid white;
      }

      &-button {
        position: absolute;
        top: 14px;
        left: 12px;
        width: 12px;
        height: 12px;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        z-index: 3;
      }

      &-field {
        outline: none;
        width: calc(310px - 50px);
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        position: absolute;
        top: 12px;
        left: 38px;
        background: none;
        padding: 0;
        border: none;
        z-index: 3;

        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }

    &__emergency-call {
      max-height: 60px;
      float: right;

      a {
        display: block;
        height: 60px;
      }
    }

    .row:last-child {
      background-color: $main-color;
    }
  }

  .about {
    background-color: $bg-gray;
    position: relative;
    margin-top: 130px;

    &::before {
      position: absolute;
      display: inline-block;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 300px;
      background-image: url("../img/about/about-bg.png");
      background-position: top left;
      background-repeat: no-repeat;
      z-index: 1;
    }

    .container {
      z-index: 2;
    }

    &__info {
      padding: 90px 0;
      max-width: 666px;
      position: relative;

      &::before {
        position: absolute;
        display: block;
        content: '';
        width: 176px;
        height: 92px;
        background-color: rgba($accent-color, .2);
        top: 245px;
        left: -310px;
        transform: skewX(-20deg);
      }

      button {
        padding: 15px 0;
        width: 325px;
        color: white;
        background-color: $main-color;
        outline: 0;
        border: 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-bottom: 55px;
        cursor: pointer;
        transition: background-color .5s;

        &:hover {
          background-color: $accent-color;
        }
      }
    }

    &__doctor-name {
      font-weight: bold;
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 35px;
    }

    &__title {
      font-size: 18px;
      margin-bottom: 12px;
    }

    &__desc {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }

    .select-buttons {
      &__button {
        display: inline-block;
        height: 18px;
        width: 18px;
        margin-right: 20px;
        background-color: rgba($main-color, .4);
        transition: background-color .5s;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;

        &:hover {
          background-color: $main-color
        }
      }
    }

    &__doctor {
      min-height: 100%;
      flex-grow: 1;
      position: relative;

      &::before {
        position: absolute;
        z-index: 0;
        bottom: 0;
        right: 30px;
        display: block;
        content: '';
        height: 250px;
        width: 300px;
        background-color: rgba($accent-color, .4);
        transform: skewX(-15deg);
      }

      &-picture {
        position: relative;
        z-index: 1;
        height: 100%;
        background: url("../img/about/doctor.png") bottom center no-repeat;
      }

      .sending {
        box-sizing: border-box;
        width: 350px;
        position: absolute;
        z-index: 3;
        right: 20px;
        bottom: 30px;
        background-color: $main-color;
        transform: skewX(-15deg);
        padding: 20px;
        color: white;

        h2, h4 {
          transform: skewX(15deg);
        }

        h2 {
          margin-top: 0;
          margin-bottom: 20px;
        }

        &__prev-price {
          font-size: 20px;
          color: rgba(white, .6);
          letter-spacing: 1.5px;
          margin-bottom: 0;
        }

        &__today-price {
          font-size: 42px;
          margin: 0;
        }

        &__sale {
          width: 137px;
          box-sizing: border-box;
          text-align: center;
          position: absolute;
          padding: 15px 30px;
          background-color: $accent-color;
          bottom: 50%;
          transform: translateY(50%);
          right: -5%;

          h4 {
            transform: skewX(15deg) !important;
            font-size: 26px !important;
            font-weight: 500;
            margin: 0;
          }
        }
      }
    }
  }


  .features {
    padding-top: 60px;
    padding-bottom: 90px;

    &__title {
      margin-bottom: 60px;
    }

    &__block {
      position: relative;
      flex-basis: calc(100% / 4 - 20px);
      display: flex;
      align-items: center;
      height: 167px;
      background: $bg-gray;
      color: $main-color;
      text-align: center;
      padding: 0 50px;
      box-sizing: border-box;

      &:nth-child(1) {
        .features__icon::before {
          background: url("../img/features/heart-icon.svg") center no-repeat;
        }
      }

      &:nth-child(2) {
        .features__icon::before {
          background: url("../img/features/tech-icon.svg") center no-repeat;
        }
      }

      &:nth-child(3) {
        .features__icon::before {
          background: url("../img/features/grant-icon.svg") center no-repeat;
        }
      }

      &:nth-child(4) {
        .features__icon::before {
          background: url("../img/features/people-icon.svg") center no-repeat;
        }
      }
    }

    &__icon {
      position: absolute;
      left: 50%;
      transform: translateX(-50%) skewX(-15deg);
      top: -10%;
      width: 85px;
      height: 50px;
      background-color: $main-color;

      &::before {
        transform: skewX(15deg);
        width: 100%;
        height: 100%;
        display: block;
        content: '';
      }
    }

    &__desc {
      font-size: 18px;
      line-height: 120%;
      width: 100%;
    }
  }

  .units {
    background-color: $bg-gray;
    position: relative;

    &__block {
      width: 100%;
      position: relative;
      top: -30px;
      box-shadow: 0 10px 30px rgba(12, 28, 56, 0.08);
      margin-bottom: 30px;
    }

    &__head {
      padding-top: 40px;
      background: $bg-gray;

      .title {
        margin-bottom: 35px;
      }
    }

    &__menu {
      ul {
        padding: 0;
        list-style: none;
        margin: 0;

        li {
          margin-right: 55px;
          display: inline-block;
          padding-bottom: 22px;

          a {
            font-weight: 600;
            font-size: 18px;
            color: $main-color;
            transition: color .5s;
            padding-bottom: 20px;

            &:hover {
              color: $accent-color;
              border-bottom: 2px solid $accent-color;
            }
          }
        }
      }
    }

    &__content {
      background-color: white;
      padding: 40px 0;

      &-image {
        min-width: 325px;
        height: 330px;
        background: url("../img/units/content-image.png") center no-repeat;
        background-size: cover;
        position: relative;
        display: inline-block;
        margin-right: 20px;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background: linear-gradient(179.96deg, rgba(42, 68, 114, 0) 18.76%, rgba(42, 68, 114, 0.55) 49.37%);
        }

        p {
          position: absolute;
          left: 0;
          bottom: 0;
          color: white;
          padding: 40px 25px;
          font-size: 18px;
          margin: 0;
        }
      }

      &-services {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 330px;

        .column {
          ul:last-child {
            li:last-child {
              margin-bottom: 0;
            }
          }

          &:nth-child(1) {
            ul {
              &:nth-child(1) {
                li:nth-child(1)::before {
                  content: 'А';
                }
              }

              &:nth-child(2) {
                li:nth-child(1)::before {
                  content: 'В';
                }
              }

              &:nth-child(3) {
                li:nth-child(1)::before {
                  content: 'Г';
                }
              }

              &:nth-child(4) {
                li:nth-child(1)::before {
                  content: 'И';
                }
              }
            }
          }


          &:nth-child(2) {
            ul {
              &:nth-child(1) {
                li:nth-child(1)::before {
                  content: 'К';
                }
              }

              &:nth-child(2) {
                li:nth-child(1)::before {
                  content: 'Н';
                }
              }

              &:nth-child(3) {
                li:nth-child(1)::before {
                  content: 'О';
                }
              }

              &:nth-child(4) {
                li:nth-child(1)::before {
                  content: 'П';
                }
              }
            }
          }

          &:nth-child(3) {
            ul {
              &:nth-child(1) {
                li:nth-child(1)::before {
                  content: 'Т';
                }
              }

              &:nth-child(2) {
                li:nth-child(1)::before {
                  content: 'Ф';
                }
              }

              &:nth-child(3) {
                li:nth-child(1)::before {
                  content: 'Х';
                }
              }

              &:nth-child(4) {
                li:nth-child(1)::before {
                  content: 'Э';
                }
              }
            }
          }

          ul {
            margin: 0;
            display: block;
            padding: 0;
            list-style: none;

            li {
              margin-bottom: 29px;

              &::before {
                margin-right: 20px;
                width: 1em;
                text-align: right;
                display: inline-block;
                font-weight: bold;
                font-size: 16px;
                color: $accent-color;
                content: '';
              }
            }
          }
        }
      }
    }

    &__emergency-room {
      flex-grow: 1;
      background-color: white;
      box-shadow: 0 10px 30px rgba(12, 28, 56, 0.08);
      padding: 40px 0 45px 0;
      margin-bottom: 60px;

      .title {
        margin-bottom: 35px;
      }
    }

    &__features {
      display: flex;
      justify-content: space-between;

      ul {
        padding: 0;
        display: block;
        list-style: none;
        margin: 0;

        &:nth-child(1) {
          margin-right: 30px;

          li {
            color: rgba(#0A1831, .8);

            &:before {
              display: inline-block;
              content: '';
              width: 14px;
              height: 6px;
              margin-right: 10px;
              background-color: $accent-color;
              transform: translateY(-50%) skewX(-15deg);
            }

            span {
              color: $accent-color;
              font-weight: bold;
            }
          }
        }

        &:nth-child(2) {
          margin-right: 30px;

          li {
            color: $main-color;
            text-decoration: underline;
            font-weight: bold;
          }
        }

        li {
          margin-bottom: 20px;

          &:last-child {
            margin: 0;
          }
        }
      }

      &-image {
        width: 325px;
        height: 190px;
        background: url("../img/units/features-image.png") center no-repeat;
        position: relative;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background: linear-gradient(179.98deg, rgba(42, 68, 114, 0) 18.76%, rgba(42, 68, 114, 0.55) 49.37%);;
        }

        p {
          position: absolute;
          padding: 15px 70px 15px 15px;
          font-size: 16px;
          line-height: 140%;
          bottom: 0;
          color: white;
        }
      }
    }

    &__countries {
      flex-grow: 1;
      margin-bottom: 60px;
    }

    &__country {
      flex-basis: calc(100% / 4 - 20px);
      background-color: white;
      padding: 27px 0;
      text-align: center;
      font-size: 20px;
      color: $main-color;

      &-image {
        width: 54px;
        height: 36px;
        margin: 0 auto 15px auto;
      }

      &:nth-child(1) {
        .units__country-image {
          background: url("../img/units/country-america.svg") center no-repeat;
          background-size: contain;
        }
      }

      &:nth-child(2) {
        .units__country-image {
          background: url("../img/units/country-swis.svg") center no-repeat;
          background-size: contain;
        }
      }

      &:nth-child(3) {
        .units__country-image {
          background: url("../img/units/country-israil.svg") center no-repeat;
          background-size: contain;
        }
      }

      &:nth-child(4) {
        .units__country-image {
          background: url("../img/units/country-germany.svg") center no-repeat;
          background-size: contain;
        }
      }
    }
  }

  .appointment {
    background-color: white;

    &__block {
      flex-basis: 100%;
      padding: 55px 0;
      box-shadow: 0 10px 30px rgba(12, 28, 56, 0.08);
      margin-top: 60px;
      margin-bottom: 90px;
      background: url("../img/appointment/appointment-block-bg.svg") center no-repeat;
      background-size: contain;
    }

    &__title {
      flex-grow: 1;

      .title {
        margin-top: -5px;
        margin-bottom: 12px;
        font-size: 24px;
      }

      a {
        color: $accent-color;
      }
    }

    &__form {
      display: flex;
      justify-content: space-between;
      vertical-align: center;
      position: relative;
      flex-grow: 3;

      input, button {
        flex-basis: calc(100% / 3 - 20px);
        box-sizing: border-box;
        height: 50px;
        padding: 0 18px;
        font-size: 16px;
        background: #FFFFFF;
        border: 1px solid rgba(42, 68, 114, 0.2);
        border-radius: 1px;
        color: $main-color;
      }

      input {
        &::placeholder {
          color: $main-color;
        }
      }

      button {
        border: 1px solid $main-color;

        &:hover {
          img {
            filter: grayscale(1) invert(1) brightness(1.5);
          }
        }

        img {
          vertical-align: middle;
          margin-left: 10px;
          filter: none;
        }
      }

      label {
        height: auto;
      }

      label {
        position: absolute;
        bottom: -22px;

        small {
          font-size: 12px;
          color: $main-color;
        }

        input {
          margin: 0;
          height: 16px;
          width: 16px;
          vertical-align: middle;
          margin-right: 8px;
          background: white;
          border: 1px solid $main-color;
          outline: none;
          appearance: none;
          padding: 0;

          &:checked::before {
            content: 'X';
            display: block;
            font-size: 15px;
            text-align: center;
            color: $main-color;
          }
        }
      }
    }
  }
  .specialists {
    background-color: $bg-gray;
    position: relative;

    &__block {
      width: 100%;
      box-shadow: 0 10px 30px rgba(12, 28, 56, 0.08);
      position: relative;
      left: 0;
      top: -30px;
    }

    &__head {
      background-color: $bg-gray;
      width: 100%;
      padding: 40px 0;
    }

    &__content {
      background-color: white;
      padding: 40px 0;
      padding-top: 20px;
    }

    &__doctor {
      background-color: #fcfcfc;
      padding: 12px;
      max-width: 325px;
      margin-right: 20px;
      position: relative;
      &:last-child{
        margin-right: 0;
      }

      .doctor {
        &__image {
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 22px;
          img{
            max-width: 100%;
          }
        }

        &__info {
          display: block;
          color: $main-color;
          position: relative;
          font-size: 14px;

          .doctor__name {
            font-size: 18px;
            color: $main-color-dark;
            margin-bottom: 22px;
            margin-top: 0;

            span {
              font-weight: normal;
            }
          }

          .doctor__work {
            margin: 0;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 17px;
          }

          .doctor__features {
            margin: 0;
            padding: 0;
            list-style: none;

            li::before {
              content: "-";
              margin-right: 5px;
            }
          }
        }

        &__info:hover {
          .doctor__full-info {
            opacity: 1;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          }
        }

        &__full-info {
          opacity: 0;
          height: 100%;
          width: 100%;
          background-color: rgba(white, .95);
          position: absolute;
          left: -12px;
          top: -12px;
          padding: 12px;
          transition: opacity .5s;
          font-size: 14px;
          .doctor__features{
            margin-bottom: 20px;
          }
          a{
            display: block;
            width: calc(100% - 40px);
            text-align: center;
            color: $main-color;
            border: 1px solid $main-color;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 12px;
            transition: background-color .5s, color .5s;
            &:hover{
              color: white;
              background-color: $main-color;
            }
          }
        }
        &__exp{
          color: $main-color-dark;
          margin: 0;
          margin-bottom: 26px;
        }
        &__desc{
          line-height: 120%;
        }
      }
    }
    &__slider{
      margin-bottom: 15px;
    }
    &__control-panel{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      button{
        width: 443px;
      }
    }
    &__arrows{
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      height: 100%;
      align-items: center;
    }
    &__arrow-left{
      display: inline-block;
      margin-right: 36px;
    }
    &__arrow-right{
      display: inline-block;
      &::before{
        transform: rotate(180deg);
      }
    }

  }
}














