@import "fonts";

$main-color: #2A4472;
$main-color-dark: #0A1831;
$main-color-light: #3F5A8A;
$accent-color: #E84E2C;
$accent-color-light: #FF785A;
$bg-gray: #F1F1F1;

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  background: $bg-gray;
}

a {
  text-decoration: none;
}

button, input, a {
  font-family: 'Exo 2', sans-serif;
  cursor: pointer;
}

input[type="text"], input[type="search"], input[type="tel"], input[type="email"] {
  cursor: text;
}

//Для телефонов

.container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  @media screen and (min-width: 577px) {
    padding: 0 15px;
  }
  @media screen and (min-width: 1400px) {
    max-width: 1380px
  }

  &_size_1667 {
    max-width: 1667px !important;
    @media screen and (max-width: 576px) {
      max-width: none;
    }
  }
}

.row {
  display: flex;

  &_between {
    justify-content: space-between;
  }

  &_center {
    align-items: center;
  }

  &_start {
    align-items: flex-start;
  }
}

.title {
  margin: 0;
  font-size: 20px;
  color: $main-color-dark;
  @media screen and (min-width: 577px) {
    font-size: 24px;
  }
  @media screen and (min-width: 1400px) {
    font-size: 30px;
  }
}

.content {
  width: 100%;
  box-sizing: border-box;
  @media screen and (min-width: 1400px) {
    max-width: 1360px;
    margin: 0 auto;
  }

  &_flex {
    display: flex;
    flex-wrap: nowrap;
  }

  &_between {
    justify-content: space-between;
  }
}

.column {
  max-width: 290px;
  width: 100%;
}

.btn {
  outline: 0;
  padding: 15px 0;
  text-align: center;
  font-size: 16px;
  background: none;
  border: none;
  transition: background-color .5s, color .3s;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  @media screen and (min-width: 961px) {
    padding: 20px 0;
  }

  &_white {
    border: 1px solid $main-color;
    background-color: white;
    color: $main-color;

    &:hover {
      background-color: $main-color;
      color: white;
    }

    &:active {
      background-color: $main-color-light;
    }

    &_fill {
      border: 1px solid $main-color;
      background-color: $main-color;
      color: white;

      &:hover {
        background-color: $accent-color;
      }

      &:active {
        background-color: $accent-color-light;
      }
    }
  }

  &_red {
    border: 1px solid $accent-color;
    background-color: white;
    color: $accent-color;

    &:hover {
      background-color: $accent-color;
      color: white;
    }

    &:active {
      background-color: $accent-color-light;
    }

    &_fill {
      border: 1px solid $accent-color;
      background-color: $accent-color;
      color: white;

      &:hover {
        background-color: $main-color;
        border-color: transparent;
      }

      &:active {
        background-color: $main-color-light;
      }
    }
  }

  &_dark {
    background-color: $main-color;
    border: 0;
    padding: 15px 0;
    color: white;

    &:hover {
      background-color: $accent-color;
    }
  }

  &_tr {
    background: none;
    border: 1px solid $main-color;
    color: $main-color;

    &:hover {
      background-color: $main-color;
      color: white;
    }
  }
}

.arrows {

  bottom: 0;
  right: 0;
  display: flex;
  height: 100%;
  align-items: center;
  z-index: 20;
  @media screen and (min-width: 961px) {
    position: absolute;
  }

  &__arrow-left {
    display: inline-block;
    margin-right: 25px;
    @media screen and (min-width: 961px) {

      margin-right: 36px;
    }
  }

  &__arrow-right {
    display: inline-block;

    &::before {
      transform: rotate(180deg);
    }
  }
}

.arrow {
  width: 60px;
  height: 16px;
  position: relative;
  cursor: pointer;
  transition: filter .3s, transform .3s;
  @media screen and (max-width: 960px) {
    width: 23px;
  }

  &::before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: contain;
    background: url("../img/specialists/arrow-small.svg") center no-repeat;
    @media screen and (min-width: 961px) {
      background: url("../img/specialists/arrow.svg") center no-repeat;
    }
  }

  &:hover {
    filter: saturate(4) hue-rotate(152deg);
    transform: scale(1.2);
  }
}

.arrow-back {
  padding-left: 15px;
  margin-bottom: 30px;
}

.with-arrow {
  width: 30%;
  height: 100%;
  display: block;
  background: url("../img/header/arrow.svg") right no-repeat;
  position: absolute;
  z-index: 10;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: all;

  &:hover {
    filter: grayscale(1) invert(1) brightness(1000);
    cursor: pointer;
  }
}

.select-buttons__button_active {
  background-color: $accent-color !important;
}


.popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10003;
  width: 100%;
  height: 100vh;
  display: none;
  background-color: rgba(black, .4);
  align-items: center;
  justify-content: center;

  &__block {
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    height: 500px;
    position: relative;
    box-sizing: border-box;
    padding: 30px;
  }

  &-close-button {
    color: white;
    position: absolute;
    right: -36px;
    top: -36px;
    cursor: pointer;
  }
}

.hide {
  display: none;
}

.layer1, .layer2, .layer3, .layer4 {
  position: fixed;
  width: 100%;
  @media screen and (max-width: 1400px) {
    display: none;
  }

}

.layer1 {
  z-index: 1;
}

.layer2 {
  z-index: 11;
}

.layer3 {
  z-index: 11;
}

.layer4 {
  z-index: 1;
}

#fig11 {
  height: 100px;
  width: 200px;
  background: $accent-color;
  position: absolute;
  top: 1030px;
  left: 3%;
}

#fig12 {
  height: 110px;
  width: 110px;
  background: $main-color-dark;
  position: absolute;
  top: 1080px;
  left: 5%;
}

#fig13 {
  width: 282px;
  height: 150px;
  background: $main-color;
  position: absolute;
  top: 1455px;
  right: 3%;
}

#fig14 {
  width: 242px;
  height: 129px;
  background: $main-color;
  position: absolute;
  top: 1870px;
  left: 3%;
}

#fig21 {
  width: 242px;
  height: 129px;
  background: $main-color-dark;
  position: absolute;
  top: 2345px;
  left: 3%;
}

#fig22 {
  width: 242px;
  height: 129px;
  background: $main-color-dark;
  position: absolute;
  top: 2345px;
  right: 3%;
}

#fig23 {
  width: 133px;
  height: 71px;
  background: $accent-color;
  position: absolute;
  top: 805px;
  left: 5%;
  opacity: .5;
}

#fig24 {
  width: 82px;
  height: 44px;
  background: $main-color-dark;
  position: absolute;
  top: 1245px;
  left: 5%;
  opacity: .25;
}

#fig31 {
  width: 107px;
  height: 57px;
  background: $accent-color;
  position: absolute;
  top: 950px;
  right: 4%;
  margin-bottom: 50px;
}

#fig32 {
  width: 133px;
  height: 71px;
  background: $main-color-dark;
  position: absolute;
  top: 1290px;
  right: 3%;
}

#fig33 {
  width: 122px;
  height: 65px;
  background: $accent-color;
  position: absolute;
  top: 2070px;
  right: 3%;
}

.fig {
  transform: skewX(-15deg);
  opacity: .2;
}

.hamburger {
  position: relative;
  right: 0;
  padding: 15px;
  display: block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  border: 0;
  margin: 0;
  overflow: visible;
  background-color: $accent-color;
  @media screen and (min-width: 961px) {
    display: none;
  }
}

.hamburger:hover {
  opacity: 1;
}

.hamburger:focus {
  outline: none;
}

.hamburger.is-active:hover {
  opacity: 1;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}

.hamburger-box {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 21px;
  height: 2px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10.5px;
}

.hamburger-inner::after {
  bottom: -10.5px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.popup-iphone {
  background-color: rgba($main-color-light, .4);
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 10001;
  left: 0;
  top: 0;
  display: none;
  &_active{
    display: block;
  }

  &__block {
    text-align: center;
    width: 100%;
    max-width: 360px;
    background-color: transparent;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-bottom: 15px;
    animation: slideInUp;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    color: #1074E9;
    z-index: 10003;

    a {
      color: #1074E9;
    }
  }

  &__item {
    background-color: white;
    overflow: hidden;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
  }

  &__actions {
    margin-bottom: 10px;
  }

  &__action {
    padding: 20px 0;
    border-bottom: 1px solid rgba(#2A4472, 0.25);

    &:last-child {
      border-bottom: none;
    }
  }

  &__cancel {
    padding: 20px 0;
    font-weight: bold;
  }
}

@import "desktop-xxl";


.owl-carousel .owl-stage-outer {
  @media screen and (max-width: 576px) {

  }
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    margin: 0;
  }
  99% {
    opacity: 0;
    margin-left: -2000px;
  }
}

@keyframes slideInUp {
  from {
    transform: translateX(-50%) translateY(100%);
  }
  to {
    transform: translateX(-50%) translateY(0);
  }
}












